@page "/projects"
<PageTitle>Projects | Artur's Portfolio</PageTitle>

<MudContainer Class="mt-16 mb-16" MaxWidth="MaxWidth.ExtraLarge">
    <MudPaper Class="pa-6" Elevation="5">
        <MudContainer Class="d-flex" MaxWidth="MaxWidth.ExtraLarge">
            <MudAvatar Class="mud-elevation-25 mt-2">
                <MudIcon Icon="@Icons.Filled.Apps" />
            </MudAvatar>

            <MudText Class="ml-2" Style="font-weight: bold" Typo="Typo.h3" GutterBottom="true">Projects</MudText>
        </MudContainer>

        <MudText Typo="Typo.body1" GutterBottom="true">This page shows projects that were created by me. The contents??? are divided into separate programming languages and appropriate frameworks.</MudText>

        <MudGrid>
            <MudItem xs="12">
                <MudText Style="font-weight: bold" Typo="Typo.h4" Align="Align.Center" GutterBottom="true">C#</MudText>

                <MudExpansionPanels MultiExpansion="true">
                    <MudExpansionPanel Style="font-weight: bold" IsInitiallyExpanded="true" Text=".NET 6.0">
                        <MudExpansionPanels MultiExpansion="true">
                            <MudExpansionPanel Style="font-weight: normal" IsExpanded="@IsArturExpanded" IsExpandedChanged="@ArturAppChanged">
                                <TitleContent>
                                    <div class="d-flex align-center">
                                        <img style="height: 20px; width: 20px; vertical-align: top; margin-right: 5px;" src="icons/folderopen.png" alt="folderopen.png icon" />

                                        <MudText>Artur's Portfolio</MudText>
                                    </div>
                                </TitleContent>
                                <ChildContent>
                                    <ArtursPortfolio/>
                                </ChildContent>
                            </MudExpansionPanel>

                            <MudExpansionPanel Disabled="true">
                                <TitleContent>
                                    <div class="d-flex align-center">
                                        <MudIcon Class="mr-1" Icon="@Icons.Filled.AutoFixHigh"/>

                                        <MudText>Variable Patcher (WIP)</MudText>
                                    </div>
                                </TitleContent>
                                <ChildContent>
                                    <VariablePatcher/>
                                </ChildContent>
                            </MudExpansionPanel>
                        </MudExpansionPanels>
                    </MudExpansionPanel>

                    <MudExpansionPanel Style="font-weight: bold" IsInitiallyExpanded="true" Text=".NET 5.0">
                        <MudExpansionPanels MultiExpansion="true">
                            <MudExpansionPanel Style="font-weight: normal" IsExpanded="@IsGtaDiscordExpanded" IsExpandedChanged="@GtaDiscordAppChanged">
                                <TitleContent>
                                    <div class="d-flex align-center">
                                        <img style="height: 20px; width: 20px; vertical-align: top; margin-right: 5px;" src="icons/discordbot.png" alt="discordbot.png icon" />

                                        <MudText>GTA Discord Bot</MudText>
                                    </div>
                                </TitleContent>
                                <ChildContent>
                                    <GtaDiscordBot/>
                                </ChildContent>
                            </MudExpansionPanel>

                            <MudExpansionPanel Style="font-weight: normal" IsExpanded="@IsCokeBanExpanded" IsExpandedChanged="@CokeBanAppExpanded">
                                <TitleContent>
                                    <div class="d-flex align-center">
                                        <img style="height: 20px; width: 20px; vertical-align: top; margin-right: 5px;" src="icons/gavel.png" alt="gavel.png icon" />

                                        <MudText>Coke's Ban Checker</MudText>
                                    </div>
                                </TitleContent>
                                <ChildContent>
                                    <CokesBanChecker/>
                                </ChildContent>
                            </MudExpansionPanel>

                            <MudExpansionPanel Style="font-weight: normal" IsExpanded="@IsBuffysDiscordExpanded" IsExpandedChanged="@BuffysDiscordAppChanged">
                                <TitleContent>
                                    <div class="d-flex align-center">
                                        <img style="height: 20px; width: 20px; vertical-align: top; margin-right: 5px;" src="icons/discordbot.png" alt="discordbot.png icon" />

                                        <MudText>Buffy's Discord Bot</MudText>
                                    </div>
                                </TitleContent>
                                <ChildContent>
                                    <BuffysDiscordBot/>
                                </ChildContent>
                            </MudExpansionPanel>

                            <MudExpansionPanel Style="font-weight: normal" IsExpanded="@IsDiscordApiExpanded" IsExpandedChanged="@DiscordApiAppChanged">
                                <TitleContent>
                                    <div class="d-flex align-center">
                                        <MudIcon Class="mr-1" Icon="@Icons.Filled.Api"/>

                                        <MudText>Discord Bot API</MudText>
                                    </div>
                                </TitleContent>
                                <ChildContent>
                                    <DiscordBotApi/>
                                </ChildContent>
                            </MudExpansionPanel>
                        </MudExpansionPanels>
                    </MudExpansionPanel>

                    <MudExpansionPanel Style="font-weight: bold" IsInitiallyExpanded="true" Text=".NET Core 3.1">
                        <MudExpansionPanels MultiExpansion="true">
                            <MudExpansionPanel Style="font-weight: normal" IsExpanded="@IsAppUploaderExpanded" IsExpandedChanged="@AppUploaderChanged">
                                <TitleContent>
                                    <div class="d-flex align-center">
                                        <MudIcon Class="mr-1" Icon="@Icons.Filled.Upload"/>

                                        <MudText>Application Uploader</MudText>
                                    </div>
                                </TitleContent>
                                <ChildContent>
                                    <ApplicationUploader/>
                                </ChildContent>
                            </MudExpansionPanel>

                            <MudExpansionPanel Style="font-weight: normal" IsExpanded="@IsGtaMissionExpanded" IsExpandedChanged="@GtaMissionAppChanged">
                                <TitleContent>
                                    <div class="d-flex align-center">
                                        <img style="height: 20px; width: 20px; vertical-align: top; margin-right: 5px;" src="icons/gtaicon.png" alt="gtaicon.png icon" />

                                        <MudText>GTA Mission Downloader</MudText>
                                    </div>
                                </TitleContent>
                                <ChildContent>
                                    <GtaMissionDownloader/>
                                </ChildContent>
                            </MudExpansionPanel>

                            <MudExpansionPanel Style="font-weight: normal" IsExpanded="@IsEmailExpanded" IsExpandedChanged="@EmailSenderAppChanged">
                                <TitleContent>
                                    <div class="d-flex align-center">
                                        <img style="height: 20px; width: 20px; vertical-align: top; margin-right: 5px;" src="icons/google.png" alt="google.png icon" />

                                        <MudText>E-Mail Sender</MudText>
                                    </div>
                                </TitleContent>
                                <ChildContent>
                                    <EMailSender/>
                                </ChildContent>
                            </MudExpansionPanel>
                        </MudExpansionPanels>
                    </MudExpansionPanel>

                    <MudExpansionPanel Style="font-weight: bold" IsInitiallyExpanded="true" Text=".NET Framework 4.7.2">
                        <MudExpansionPanels MultiExpansion="true">
                            <MudExpansionPanel Style="font-weight: normal" IsExpanded="@IsBmNotifierExpanded" IsExpandedChanged="@BmNotifierAppChanged">
                                <TitleContent>
                                    <div class="d-flex align-center">
                                        <img style="height: 20px; width: 20px; vertical-align: top; margin-right: 5px;" src="icons/bm.png" alt="bm.png icon" />

                                        <MudText>BattleMetrics Notifier</MudText>
                                    </div>
                                </TitleContent>
                                <ChildContent>
                                    <BattleMetricsNotifier/>
                                </ChildContent>
                            </MudExpansionPanel>
                        </MudExpansionPanels>
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </MudItem>

            <MudItem xs="12">
                <MudText Style="font-weight: bold" Typo="Typo.h4" Align="Align.Center" GutterBottom="true">TypeScript/JavaScript</MudText>

                <MudExpansionPanels MultiExpansion="true">
                    <MudExpansionPanel Style="font-weight: bold" IsInitiallyExpanded="true" Text="TypeScript">
                        
                    </MudExpansionPanel>

                    <MudExpansionPanel Style="font-weight: bold" IsInitiallyExpanded="true" Text="React TypeScript">
                        
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </MudItem>
        </MudGrid>
    </MudPaper>
</MudContainer>

@code {
    ProjectsModel ProjectsModel { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var model = await LocalStorage.GetItemAsync<ProjectsModel>("Projects");
        if (model is null)
        {
            model = new ProjectsModel();
            ProjectsModel = model;
            await LocalStorage.SetItemAsync("Projects", model);
        } 
        else
        {
            ProjectsModel = model;

            IsArturExpanded = model.IsArturExpanded;
            IsGtaDiscordExpanded = model.IsGtaDiscordExpanded;
            IsCokeBanExpanded = model.IsCokeBanExpanded;
            IsBuffysDiscordExpanded = model.IsBuffysDiscordExpanded;
            IsDiscordApiExpanded = model.IsDiscordApiExpanded;
            IsAppUploaderExpanded = model.IsAppUploaderExpanded;
            IsGtaMissionExpanded = model.IsGtaMissionExpanded;
            IsEmailExpanded = model.IsEmailExpanded;
            IsBmNotifierExpanded = model.IsBmNotifierExpanded;
        }
    }

    bool IsArturExpanded { get; set; }
    async Task ArturAppChanged(bool isChecked)
    {
        if (ProjectsModel.IsArturExpanded == isChecked)
            return;
            
        ProjectsModel.IsArturExpanded = IsArturExpanded = isChecked;
        await LocalStorage.SetItemAsync("Projects", ProjectsModel);
    }

    bool IsGtaDiscordExpanded { get; set; }
    async Task GtaDiscordAppChanged(bool isChecked)
    {
        if (ProjectsModel.IsGtaDiscordExpanded == isChecked)
            return;

        ProjectsModel.IsGtaDiscordExpanded = IsGtaDiscordExpanded = isChecked;
        await LocalStorage.SetItemAsync("Projects", ProjectsModel);
    }

    bool IsCokeBanExpanded { get; set; }
    async Task CokeBanAppExpanded(bool isChecked)
    {
        if (ProjectsModel.IsCokeBanExpanded == isChecked)
            return;

        ProjectsModel.IsCokeBanExpanded = IsCokeBanExpanded = isChecked;
        await LocalStorage.SetItemAsync("Projects", ProjectsModel);
    }

    bool IsBuffysDiscordExpanded {  get;  set; }
    async Task BuffysDiscordAppChanged(bool isChecked)
    {
        if (ProjectsModel.IsBuffysDiscordExpanded == isChecked)
            return;

        ProjectsModel.IsBuffysDiscordExpanded = IsBuffysDiscordExpanded = isChecked;
        await LocalStorage.SetItemAsync("Projects", ProjectsModel);
    }

    bool IsDiscordApiExpanded { get; set; }
    async Task DiscordApiAppChanged(bool isChecked) 
    {
        if (ProjectsModel.IsDiscordApiExpanded == isChecked)
            return;

        ProjectsModel.IsDiscordApiExpanded = IsDiscordApiExpanded = isChecked;
        await LocalStorage.SetItemAsync("Projects", ProjectsModel);
    }

    bool IsAppUploaderExpanded { get; set; }
    async Task AppUploaderChanged(bool isChecked) 
    {
        if (ProjectsModel.IsAppUploaderExpanded == isChecked)
            return;

        ProjectsModel.IsAppUploaderExpanded = IsAppUploaderExpanded = isChecked;
        await LocalStorage.SetItemAsync("Projects", ProjectsModel);
    }

    bool IsGtaMissionExpanded { get; set; }
    async Task GtaMissionAppChanged(bool isChecked) 
    {
        if (ProjectsModel.IsGtaMissionExpanded == isChecked)
            return;

        ProjectsModel.IsGtaMissionExpanded = IsGtaMissionExpanded = isChecked;
        await LocalStorage.SetItemAsync("Projects", ProjectsModel);
    }

    bool IsEmailExpanded { get; set; }
    async Task EmailSenderAppChanged(bool isChecked) 
    {
        if (ProjectsModel.IsEmailExpanded == isChecked)
            return;

        ProjectsModel.IsEmailExpanded = IsEmailExpanded = isChecked;
        await LocalStorage.SetItemAsync("Projects", ProjectsModel);
    }

    bool IsBmNotifierExpanded { get; set; }
    async Task BmNotifierAppChanged(bool isChecked) 
    {
        if (ProjectsModel.IsBmNotifierExpanded == isChecked)
            return;

        ProjectsModel.IsBmNotifierExpanded = IsBmNotifierExpanded = isChecked;
        await LocalStorage.SetItemAsync("Projects", ProjectsModel);
    }
}
